@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Colors */
    --primary-100: #EAF2FF;
    --primary-200: #D6E5FF;
    --primary-500: #002F78;
    --accent-500: #FF509B;
    --white: #FFFFFF;
}

.content-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 120px;
    padding-right: 120px;
}

body {
    background-color: var(--primary-100);
    color: var(--primary-500);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    padding-top: 105px;
}

body a {
    color: var(--primary-500);
}

.top-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.top-bar {
    width: 100%;
    background-color: var(--white);
    border-radius: 0 0 70px 70px;
    padding: 28px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.top-bar-nav-menu {
    display: flex;
    gap: 34px;
}

.top-bar-nav-menu a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;

    &:hover {
        color: var(--accent-500);
    }
}

.btn {
    padding: 16px 23px;
    background-color: var(--primary-500);
    text-transform: uppercase;
    color: var(--white);
    font-size: 14px;
    border-radius: 999px;
    text-decoration: none;
    border: none;

    &:hover {
        background-color: var(--accent-500);
    }
}

.btn.btn-secondary {
    background-color: var(--accent-500);

    &:hover {
        background-color: var(--primary-500);
    }
}